<!DOCTYPE html>
<html>
<head>
    <title>CookIt</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
     <form action="" method="post">
         <div class = "searchLine">
             <img id="logo" src="images\logo.jpg">
             <div class="inline_display">
                 <input id="searchLine" name="search" type="search" />
                 <input id="searchBottom" type="submit" value="Cook It" />
             </div>
         </div>
    </form>

 <ul >
     {{#each searchResults}}
         <P>
             <i class="fa fa-cutlery"></i>
             <a id="linkResult" link href={{this}}> {{this}} </a>
         </P>
     {{/each}}
 </ul>
</body>
</html>