  <img id="logo" src="../images/cook-logo.jpg" />
     <form action="/searchResults" method="post">
        <input id="search" name="search" type="search" />
        <input type="submit" value="search" />
    </form>

 <ul>
     <li>{{ searchResults }}</li>
 </ul>
