<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/noResult.css">
</head>
<body >

<div class="check">
    <input id="searchLine"  type="search" placeholder="What do you want to cook today?" />
    <input type="submit" value="No Result" />
</div>





</body>
</html>