<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/searchResults.css">
</head>
<body dir="rtl">
    <div id="container">

        <div id="logo_searchline_wrapper">

            <div class="inline_display">
                <img id="logo" src="images\logo.jpg">
            </div>

            <div class="inline_display">
                <input id="searchLine" name="search" type="search" />
                <input id="searchBottom" type="submit" value="Cook It" />
            </div>


        </div> <!--End logo_searchline_wrapper-->

        <div id="recipes_results_wrapper">
            <div class="square_recipe" >
                <div class="recipe-title">עוגת גזר קלה</div>
                <div class="groceries inline_block_display">
                    <p class="title-groceries">מצרכים</p>
                    <ul>
                        <li>2 ביצים</li>
                        <li>150 ג' סוכר (שלושת רבעי כוס)    </li>
                        <li>כוס גזר מגורד  </li>
                        <li>140 ג' קמח תופח (כוס)</li>
                        <li>חצי כוס שמן</li>
                        <li>3 כפות סוכר חום</li>
                        <li>כפית קינמון
                        </li>
                    </ul>
                </div>
                <div class="recipe-image inline_block_display">
                    <img src="http://www.nikib.co.il/wp-content/uploads/SN851070-1.jpg">
                </div>


            </div>
            <div class="square_recipe" >
                <div class="recipe-title">עוגת גזר</div>
                <div class="groceries inline_block_display">
                    <p class="title-groceries">מצרכים</p>
                    <ul>
                        <li>3 ביצים</li>
                        <li>1/2 1 כוסות דחוסות (360 גרם) סוכר חום כהה)</li>
                        <li>1 שקית סוכר וניל</li>
                        <li>1 כוס (240 מ"ל) שמן </li>
                        <li>2 כוסות גזר מגורר (כ-4 גזרים גדולים, 300 גרם) </li>
                        <li>1/2 1 כוסות (150 גרם) קוקוס</li>
                        <li>2 כוסות (280 גרם) קמח</li>
                        <li>2 כפיות אבקת סודה לשתייה</li>
                        <li>1 כפית מלח</li>
                        <li>2 כפיות גדושות קינמון</li>
                        <li>1 כוס אגוזי מלך, שבורים</li>
                        <li>1 כוס צימוקים</li>

                    </ul>
                </div>
                <div class="recipe-image inline_block_display">
                    <img src="http://www.carine.co.il/Media/Image/carrotL.jpg">
                </div>
            </div>

            <div class="square_recipe" >
                <div class="recipe-title">עוגת גזר בחושה- קלה וטעימה! - מתכונים ב-10 דקות</div>
                <div class="groceries inline_block_display">
                    <p class="title-groceries">מצרכים</p>
                    <ul>
                        <li>1 כוס סוכר</li>
                        <li>3/4 כוס שמן</li>
                        <li>כף שטוחה קינמון</li>
                        <li>כפית אבקת סודה לשתיה</li>
                        <li>2 כוסות קמח תופח </li>
                        <li>3 כוסות גזר (כ-5 גזרים) מגוררים דק</li>
                        <li>4 ביצים</li>
                        <li>חצי כוס שוקולד צ'יפס(לא חובה)</li>
                    </ul>
                </div>
                <div class="recipe-image inline_block_display">
                    <img src="http://www.carine.co.il/Media/Image/carrotL.jpg">
                </div>
            </div>

            <div class="square_recipe" >
                <div class="recipe-title">FoodsDictionary - עוגת גזר בחושה - מתכון</div>
                <div class="groceries inline_block_display">
                    <p class="title-groceries">מצרכים</p>
                    <ul>
                        <li>גזר - 6 יחידות בינוניות ללא קליפה - סה"כ (696 גרם), קלופים ומגורדים.</li>
                        <li>סוכר וניל - 2 שקיות - סה"כ (20 גרם)</li>
                        <li>קינמון - כפית שטוחה</li>
                        <li>גרידת לימון - כפית (3 גרם), גרידה מחצי קליפת לימון.</li>
                        <li>שמן קנולה - כוס (240 מ"ל)</li>
                        <li>מים - 1/4 כוס - סה"כ (60 מ"ל)</li>
                        <li>סוכר חום - 1/2 כוס - סה"כ (98 גרם)</li>
                        <li>סוכר - 1/2 כוס - סה"כ (90 גרם)</li>
                        <li>ביצה - 3 Large</li>
                        <li>קמח תופח - 2 כוסות - סה"כ (310 גרם)</li>
                        <li>אגוזי מלך - 1/2 כוס - סה"כ (45 גרם), קצוצים.</li>
                        <li>סודה לשתיה - כפית שטוחה (6 גרם)</li>
                        <li>אבקת סוכר - 2 כפות - סה"כ (32 גרם), לפיזור מעל - לפי הטעם.</li>
                    </ul>
                </div>
                <div class="recipe-image inline_block_display">
                    <img src="http://st1.foodsd.co.il/Images/Recipes/xxl/Recipe-6602-hIfYvSMDgKNbV5Yh.jpg">
                </div>

            </div>
            <div class="square_recipe" >
                <div class="recipe-title">עוגה גזר קלאסית קלה ומהירה - עוגות וקינוחים - הארץ</div>
                <div class="groceries inline_block_display">
                    <p class="title-groceries">מצרכים</p>
                    <ul>
                        <li>3 ביצים</li>
                        <li>כוס סוכר חום</li>
                        <li>כפית מלח</li>
                        <li>2 כוסות קמח</li>
                        <li>כוס שמן</li>
                        <li>1 כפית קינמון</li>
                        <li>כפית אבקת אפייה</li>
                    </ul>
                </div>
                <div class="recipe-image inline_block_display">
                    <img src="http://images.haaretz.co.il/polopoly_fs/1.2474686.1414940034!/image/2362198475.jpg_gen/derivatives/size_936xAuto/2362198475.jpg">
                </div>
            </div>
            <div class="square_recipe" >
                <div class="recipe-title">עוגת גזר מהירה | ענבל נתן-בר</div>
                <div class="groceries inline_block_display">
                    <p class="title-groceries">מצרכים</p>
                    <ul>
                        <li>1 כוס סוכר חום/ מולסה/ סילאן (אפשר גם פחות)</li>
                        <li>1/4 1 כוסות קמח כוסמין או קמח חיטה מלאה.</li>
                        <li>1/4 כוס שמן- רצוי מאוד מכבישה קרה</li>
                        <li>גרידת לימון - כפית (3 גרם), גרידה מחצי קליפת לימון.</li>
                        <li>3 ביצים </li>
                        <li>1 כפית קינמון</li>
                        <li>2 כוסות גזר מגורר גס</li>
                        <li>1 שקית אבקת אפיה</li>
                        <li>1/4 כפית סודה לשתיה </li>
                        <li>מעט תמצית וניל אמיתית</li>
                        <li>אגוזי מלך - 1/2 כוס - סה"כ (45 גרם), קצוצים.</li>
                        <li>אופציונלי: חופן אגוזי מלך קצוצים</li>
                    </ul>
                </div>
                <div class="recipe-image inline_block_display">
                    <img src="http://www.inbalnatan.co.il/sites/default/files/styles/left_image/public/_____%20____%20____1_0.jpg?itok=xEqjFanI">
                </div>

            </div>

        </div><!--End recipes_results_wrapper-->

    </div> <!-- End container -->

</body>
</html>
