/*general*/
body
{
    font-size: 0.9rem;
   /*background-image: url("/images/backgroundSite.jpg");*/
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
}

#logo_searchline_wrapper {
    border-color: #0000FF;
    border: 8px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    text-align: center;
}

#searchLine {
    width: 61em;
    margin: auto;
    height: 1.9em;
    mergine: 20px;

}
#cookItButton
{
    mergine: 30px;
    width: 7em;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: Tahoma;
    border: 2px solid dimgrey;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
/*.typeahead {*/
    /*width: 61em;*/
/*}*/

/*.tt-menu {*/
    /*background-color: white;*/
    /*border: solid 2px black;*/
    /*width: 56em;*/
    /*text-align: right;*/
    /*!*minLength: 0*!*/
/*}*/

/*.tt-dropdown-menu {*/
    /*max-height: 150px;*/
    /*overflow-y: auto;*/
/*}*/

.tt-suggestion:hover{
    background-color: #666666;
}

.result-box .item {
    border-color: #0000FF;
    border: 15px;
    text-align: center;
    background-color:white;
    font-family: "Berlin Sans FB";
}
a /* links*/
{
    direction:rtl;
    text-decoration:none;
    font-family:"tahoma";
    font-size:16px;
    color: #000;;
}

.tahomaFont_center
{
    font-family:"tahoma";
    text-align: center;
    padding: 0;
    font-size: 13px;
}

/* visited link */
a:active {
    color: blue;
}
/* mouse over link */
a:hover {
    text-decoration:underline;
}

.square-recipe {
    box-shadow: 0 3px rgba(0,0,0,0.07);
    border: solid 1px;
    border-color: #ffad36;
    display: inline-block;
    width: 21%;
    margin: 1%;
    text-align: center;
    overflow: hidden;
    height: 55em;
    position: relative;
}

.recipe-image {
    outline: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    height: 20%;
}

.box-entry {
    height: 76%;
    padding: 5px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid gainsboro;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e4e4e4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffad36;
}

.rating {
    width: 108px;
    height: 20px;
    margin: auto;
    padding: 0;
    background: url("/images/rating_small.png") no-repeat 0 bottom;
    background-size: 108px auto;
}

.rate-4 {
    background-position: 0 -30px;
}

.recipe-image img {
    width: inherit;
    text-align: left;
    height: auto;
}

#imgRecipe
{
    width: 100%;
    height: 100%;
}

.inline_block_display {
    display: inline-block;
    background-color: whitesmoke;
}

#logo {
    max-width:35%;
    min-width:35%;
    display: block;
    margin: auto;
}

.ingredientImgName-warpper
{
    display: inline-block;
    margin: 1%;
}

#ingredientImg
{
    display: inline-block;
    width: 2.5rem;
    height: 3rem;
    margin: auto;
    clear:both
}

.box-footer
{
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: #e4e4e4;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

                /*typeahead css*/

/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
}
.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}
.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: Tahoma;
    line-height: 1.5;
    border-radius: 3px;
}
select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: 30px;
    line-height: 30px;
}
textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
    height: auto;
}
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    border-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
    text-align: right;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
    text-align: right;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
    text-align: right;
    height: 46px;
    line-height: 46px;
}
textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
    text-align: right;
    height: auto;
}
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
    text-align: right;
    border-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.twitter-typeahead {
    text-align: right;
    width: 100%;
    float: left;
}
.input-group .twitter-typeahead {
    display: table-cell !important;
}
.twitter-typeahead .tt-hint {
    text-align: right;
    color: #999999;
}
.twitter-typeahead .tt-input {
    text-align: right;
    z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
    cursor: not-allowed;
    background-color: #eeeeee !important;
}
.tt-dropdown-menu,
.tt-menu {
    text-align: right;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    width: 56em;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion,
.tt-menu .tt-suggestion {
    text-align: right;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor,
.tt-menu .tt-suggestion.tt-cursor,
.tt-dropdown-menu .tt-suggestion:hover,
.tt-menu .tt-suggestion:hover {
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    background-color: #f5f5f5;
    font-family: Tahoma;
    color: #262626;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a,
.tt-menu .tt-suggestion.tt-cursor a,
.tt-dropdown-menu .tt-suggestion:hover a,
.tt-menu .tt-suggestion:hover a {
    color: #262626;
}
.tt-dropdown-menu .tt-suggestion p,
.tt-menu .tt-suggestion p {
    margin: 0;
}