/*general*/
body
{
    font-size: 0.9rem;

}

#container {
    margin-left: auto;
    margin-right: auto;
}

#logo_searchline_wrapper {
    border-color: #0000FF;
    border: 8px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#searchLine {
    margin: auto;
    width: 75em;
    height: 1.6em;
}

.result-box .item {
    border-color: #0000FF;
    border: 15px;
    text-align: center;
    background-color:white;
    font-family: "Berlin Sans FB";
}


.square_recipe {
    display: inline-block;
    width: 30%;
    border-radius: 25px;
    border: 2px dotted dodgerblue;
    margin: 1%;
    text-align: right;
    overflow: hidden;
}

.recipe-title {
    text-align: center;
    border-bottom: 2px solid dodgerblue;
    font-size: 18px;
    font-weight: bold;
}

.title-groceries
{
    color:darkblue;
}


.recipe-image img {
    width: inherit;
    text-align: left;
    height: auto;
}

img
{
    display: block;
    width:30rem;
}

.inline_block_display {
    display: inline-block;
}

#logo {
    max-width:10%;
    min-width:10%;
    display: block;
    margin: auto;
}

ul{
    list-style-type: none;
    text-align:center;
    padding-right: 0.6rem;
}

li{
    text-align: right;
}
