/*general*/
body
{
    font-size: 0.9rem;
    background-image: url("/images/backgroundSite.jpg");
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
}

#logo_searchline_wrapper {
    border-color: #0000FF;
    border: 8px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#searchLine {
    margin: auto;
    width: 75em;
    height: 1.6em;
}

.result-box .item {
    border-color: #0000FF;
    border: 15px;
    text-align: center;
    background-color:white;
    font-family: "Berlin Sans FB";
}


.square-recipe {
    box-shadow: 0 3px rgba(0,0,0,0.07);
    border: solid 1px;
    border-color: #ccc;
    display: inline-block;
    width: 30%;
    margin: 1%;
    text-align: right;
    overflow: hidden;
    height: 55em;
    position: relative;
}

.recipe-image {
    outline: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.box-entry {
    height: 76%;
}

.rating {
    width: 108px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: url("/images/rating_small.png") no-repeat 0 bottom;
    background-size: 108px auto;
}

.rate-4 {
    background-position: 0 -30px;
}

.recipe-image img {
    width: inherit;
    text-align: left;
    height: auto;
}

#imgRecipe
{
    display: block;
    width: 100%;
    height: 100%;
}

.inline_block_display {
    display: inline-block;
}

#logo {
    max-width:10%;
    min-width:10%;
    display: block;
    margin: auto;
}

ul{
    list-style-type: none;
    text-align:center;
    padding-right: 0.6rem;
}

li{
    font-size: 18px;
}

.ingredientImgName-warpper
{
    display: inline-block;
    /*width: 30%;*/
    margin: 1%;
    /*overflow: hidden;*/
}

#ingredientImg
{
    width: 4.5rem;
    height: 5rem;
    /*display: block;*/
    /*margin: auto;*/
}
.tt-menu {
    background-color: white;
    border: solid 1px black;
}

.box-footer
{
    /*padding: 24px 25px 4px;*/
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    height: 3%;
    width: 100%;
}