body
{
    font-size: 0.9rem;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
}

#logo_searchline_wrapper {
    border-color: #0000FF;
    border: 8px;
    text-align: center;
}

#logo {
    max-width:35%;
    min-width:35%;
    display: block;
    margin: auto;
}

.check {
    display: inline-block;
}

#myProgress {
    position: relative;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    height: 14%;
    background-color: #ffad36;
    margin: auto;
}
