#logo {
    width: 120px;
    display: block;
    margin-left: auto;
    position: relative;
    right: 380px;
}

#logo_searchline_wrapper {
    border-color: #0000FF;
    border: 3px;
    margin-right: auto;
    margin-left: auto;
}

#searchLine
{
    width: 45%;
    height: 2rem;
    display: block;
    display:inline-block;
    position: relative;
    left: 11%;
    bottom:20%;
}

#searchBottom
{
    width:8%;
    height: 2rem;
    position: relative;
    left: -10px;
    bottom:180px;
}

#recipeIcon
{
    width: 11%;
    position: relative;
    bottom:10px;
    left: 140px;

}
