/*general*/
body
{
    font-size: 0.9rem;
    font-family: "Ktav Yad CLM", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif
}

#container {
    margin-left: auto;
    margin-right: auto;
}

.inline_block_display {
    display: inline-block;
}

.center {
    /*text-align: center;*/
}

#logo_searchline_wrapper {
    border-color: #0000FF;
    border: 8px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#formSearch{
    margin: auto;
    width: 50%;
}

#searchLine{
    margin: auto;
    width: 50%;
}

#logo {
    max-width:10%;
    min-width:10%;
    display: block;
    margin: auto;
}

#searchInput
{
    width: 300px;
    display: table;
    margin: auto;
}

#searchButton
{
    width:100px;
}

#recipes_results_wrapper {
    border-color: #0000FF;
    border: 15px;
    text-align: center;
}

.square_recipe {
    display: inline-block;
    width: 30%;
    /*min-height: 14rem;*/
    /*max-height: 14rem;*/
    border-radius: 25px;
    border: 2px dotted dodgerblue;
    /*background:#cccccc;*/
    margin: 1%;
    text-align: right;
    overflow: hidden;
}

.recipe-title {
    text-align: center;
    border-bottom: 2px solid dodgerblue;
    font-size: 18px;
    font-style:Sans-serif;
    font-weight: bold;
}

.title-groceries
{
    color:darkblue;
}
.groceries {
    width: 50%;
    margin: 0;
}

.recipe-image {
    /*position: absolute;*/
    width: 50%;
    /*overflow: hidden;*/
    /*width: 20%;*/
}

#recipeLinkBottom
{
    position: relative;
    left: 46%;
    width:8%;
}


.recipe-image img {
    /*width: inherit;*/
    /*text-align: left;*/
}


ul{
    list-style-type: none;
    text-align:center;
    padding-right: 0.6rem;
}

li{
    text-align: right;
}


.recipe-hover__text {
    font-family: "Foodifot Semiregular", Helvetica, sans-serif;
    padding: 4px 17px 63px 17px;
    line-height: 20px;
    display: block;
    font-size: 17px;
    color: #707070;
}

.box-img
{}