body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
#search {
  width: 50%;
  height: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
}


#searchBottom {
  width: 9%;
  height: 26px;
  display:inline-block;
  display: block;
  color:darkred;
  padding: 0 16px 0 38px;
  font-size: 18px;
  line-height: 46px;
  box-shadow: none;
  font-family: "Nightclub BTN";


}

